name: Bump Flake Inputs
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 6" # Every Saturday Midnight

jobs:
  update-lockfile:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_TOKEN }}
          fetch-depth: 1

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
        with:
          logger: pretty
          extra-conf: |
            experimental-features = nix-command flakes ca-derivations auto-allocate-uids cgroups recursive-nix

      - name: Update Lockfile
        uses: DeterminateSystems/update-flake-lock@main
        id: update
        with:
          pr-title: ":package:(flake): update"
          commit-msg: ":package:(flake): update"
          token: ${{ secrets.GH_TOKEN }}

      - name: Merge Changes
        run: gh pr merge ${{ steps.update.outputs.pull-request-number }} --squash --delete-branch
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
